* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}
.cursor {
    position: relative;
    width: 100px;
    height: 100px;
}
.cursor .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #00bfff;
    background: #00bfff;
}